* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;
}

.container {
  padding: 20px;
}

body {
  background: #181818;
}

:root {
  --background: #252525;
  --background-red: #bb3030;
}
